.app {
  width: 100%;
  height: 100%;
  background: #efefef;
}
.box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.box .left {
  /* flex: 0 0 800px; */
  flex: 0;
  background: #fff0;
  text-align: center;
}

.box .left .preview-box {
  width: 400px;
  height: calc(6 / 4 * 400px);
  margin: 0 auto;
  position: relative;
  background: #fff;
}

.box .left .preview-box .image {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 300px;
  height: calc(4 / 4 * 300px);
  background: #efefef;
  object-fit: contain;
}

.box .left .preview-box .description {
  position: absolute;
  bottom: 40px;
  left: 50px;
  width: 300px;
  height: auto;
  color: #333;
  text-align: left;
  line-height: 1.6;
  font-family: STSongti-SC-Bold;
  font-size: 20px;
}

#canvas {
  width: 400px;
  height: calc(6 / 4 * 400px);
  margin: 0 auto;
  background: skyblue;
}

.box .right {
  /* flex: 0 0 800px; */
  flex: 0;
  background: #fff;
  margin-left: 16px;
}

.box .right .content {
  width: 400px;
  margin: 20px;
}

.box .right .line {
  display: block;
}

.box .right .line:not(:last-child) {
  margin-bottom: 20px;
}

.box .right .description {
  min-height: 200px;
  width: 300px;
}
